---
import Header from "@/components/ui/Header.astro";
import Footer from "@/components/ui/Footer.astro";
import "../styles/global.css";
import bg from '../assets/bg_home.jpg';
interface Props {
    title?: string;
    subtitle?: string;
    bgImage?: string;
}
const { title = "Coffee Shop", subtitle = "The best place to relax", bgImage=bg.src } =
    Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content={subtitle} />
        <title>Cafetería - {title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-coffee-100">
        <Header title={title} subtitle={subtitle} bgImage={bgImage} />
        <slot />
        <Footer />
    </body>
</html>
